body.body{
    background-color: aquamarine;
}

.heading{
    text-align: center;
    color: thistle;
    font-family: cursive;
    text-transform: uppercase;
}

.form{
    width: 80%;
    /* background-color: skyblue; */
    margin: auto;
}

input[type="text"],input[type="number"],input[type="email"]{
    width: 20%;
    height: 20px;
    outline: none;
}

input[type="text"]:focus,input[type="number"]:focus,input[type="email"]:focus{
    border: 3px solid lemonchiffon;
}