*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: lavenderblush;
}

.heading{
    color: lightgreen; 
    font-family: cursive;
    text-align: center;
    text-transform: uppercase;
}

.hj{
    color: rgb(189, 67, 67); 
    font-family: cursive;
    text-align: left;
    /* text-indent: 20px; */
}

#footer{
    text-align: right;
}

.container{
    display: grid;
    grid-template-columns: auto auto;
}

.assig_group{
    /* border: 1px solid lavender; */
    margin-left: 40px;
    display: inline-block; 
    padding: 30px;
}

.assig_group a{
    text-decoration: none;
    display: inline-block;
    padding-left: 20px;
    padding-bottom: 20px;
}

.assig_group a:hover{
    color: #3797b9;
    transform: translate(4px, -5px);
    transition-duration: 1s;
}

.assig_group h4{
    padding-bottom: 10px;
}

