*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: varela_round;
    src: url(fonts/Varela_Round/VarelaRound-Regular.ttf);
}

@font-face {
    font-family: signika_negative;
    src: url(fonts/Signika_Negative/static/SignikaNegative-Bold.ttf);
}

@font-face {
    font-family: pacifico;
    src: url(fonts/Pacifico/Pacifico-Regular.ttf);
}

@font-face {
    font-family: macondo;
    src: url(fonts/Macondo/Macondo-Regular.ttf);
}

body{
    background-color: lavenderblush;
}

nav{
    padding-top: 30px;
    padding-bottom: 40px;
}

.heading{
    color: lightgreen; 
    font-family: cursive;
    text-align: center;
    text-transform: uppercase;
}

.container{
    display: grid;
    grid-template-columns: auto auto;
}

.assig_group{
    /* border: 1px solid lavender; */
    margin-left: 40px;
    display: inline-block; 
    padding: 30px;
}

.assig_group h4{
    color: rgb(189, 67, 67); 
    font-family: cursive;
    text-align: left;
    padding-bottom: 20px;
}

.assig_group a{
    text-decoration: none;
    display: inline-block;
    padding-left: 20px;
    padding-bottom: 20px;
    font-family: signika_negative;
    color: lightcoral;
    font-size: large;
}

.assig_group a:hover{
    font-family: pacifico;
    color: red;
    font-size: 25px;
}

.assig_group a:active{
    font-family: macondo;
    color: yellow;
}

#footer{
    text-align: right;
    margin: 20px;
}

#footer a{
   padding: 20px;
   text-decoration: none;
}



