*{
    margin: 0px;
    padding: 0px;
}

.logo{
    width: 100px;
    height: 70px;
    margin-top: 10px;
    margin-left: 40px;
}

.brandName{
    position: relative;
    top: -60px;
    left: 85px;
    font-family: lobster;
    font-size: 20px;
    /* text-decoration: none; */
}

.navBar ul{
    float: right;
}

.navBrand{
    display: inline-block;
}

.navBar ul li{
    display: inline-block;
    padding-top: 30px;
    padding-right: 40px;
    text-transform: uppercase;
}

.navBar ul li a,.navBar .navBrand a{
    text-decoration: none;
    color: black;
}

@font-face {
    font-family: lobster;
    src: url(../Lobster/Lobster-Regular.ttf);
}

.cart{
    position: relative;
    top: -15px;
    left: -7px;
    background-color: black;
    padding: 0px 5px;
    color: aliceblue;
    border-radius: 50%;
}

.navBar ul li a:hover{
    color: #3797b9;
    transform: translate(4px, -5px);
    display: inline-block;
    transition-duration: 0.5s;
}

.img{
    width: 100%;
}

.backgroundText{
    position: absolute;
    top: 250px;
    left: 100px;
}

.prefetch{
    font-weight: unset;
    font-family: lobster;
    margin-bottom: 15px;
}

.btnShop{
    border: 1px solid #3797b9;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.btnShop:hover{
    background-color: #3797b9;
    color: white;
}

.productHeader{
    text-align: center;
    margin-top: 50px;
}

.divdide{
    width: 100px;
    margin: auto;
    border: 1px solid #3797b9;
    margin-bottom: 50px;
}

.product{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-right: 50px;
    margin-left: 50px;
    grid-gap: 40px;
    text-align: center;
}

.imgProduct{
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgb(0,0,0,.17);
}

.btnCart{
    border: 1px solid wheat;
    background-color: wheat;
    padding: 10px 25px;
    border-radius: 15px;
}

.btnCart{
    cursor: pointer;
}

.imgFlowers{
    background-image: url(../images/background1.jpg);
    display: grid;
    grid-template-columns: auto auto auto auto;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 50px;

}

.about div{
    padding: 70px;
}

.horizo{
    width: 30px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.packingDiv{
    margin-top: 50px;
    margin-bottom: 100px;
    /* display: inline-block; */
}

.imgPackingPho{
    width: 45%;
    float: left;
    border-radius: 5px;
}

.packingTextSS{
    /* float: right; */
    position: relative;
    left: 50px;
    width: 88%;
    text-align: justify;
}

.fa-circle-arrow-right{
    padding-right: 10px;
}

.packingHeader{
    margin-top: 20px;
}

.clear{
    clear: both;
}

.service{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color:  #d2edf7;
    padding-top: 30px;
    margin-top: 80px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.service div p{
    display: inline-block;
    padding-left: 20px;
}

.service div p b{
    font-size: 20px;
}

/* footer  */
.footer{
    background-color: #212529;
}

.footer_nav{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding-top: 50px;
    margin: 20px 20px;
}

.desgined_by{
    color: white;
}

.footer_icon{
    color: white;
    display: inline-block;
    margin: 20px 10px 0px;
    padding-bottom: 50px;
}

/* contact page  */
.contact{
    background-color: gainsboro;
    text-align: center;
}

.contact h1{
    padding-top: 30px;
    padding-bottom: 30px;
}

.moreContact{
    display: grid;
    grid-template-columns: 235px 235px 235px 235px;
    text-align: center;
    margin-top: 80px;
    grid-column-gap: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.moreContact div{
    background-color: rgb(248, 245, 245);
    padding: 30px;
    border-radius: 5px;
    
}

.moreContact div p{
    font-weight: bold;
}


/* message  */
.message{
    display: grid;
    grid-template-columns: 500px auto;
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
    grid-column-gap: 50px;
}

input[type="text"],input[type="email"]{
    width: 100%;
    height: 35px;
}

#message{
    width: 100%;
    height: 100px;
}

.contact_label{
    margin-top: 20px;
    display: inline-block;
}

.send{
    float: right;
    margin-top: 20px;
    padding: 10px 20px;
}

.message div iframe{
    margin-top: 70px;
}