*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: IBMP_BoldItalic;
    src: url(../Font/IBMPlexSerif-BoldItalic.ttf);
}

@font-face {
    font-family: IBMP_SemiBlod;
    src: url(../Font/IBMPlexSerif-SemiBold.ttf);
}

@font-face {
    font-family: Rubik_MoonRocks;
    src: url(../Font/RubikMoonrocks-Regular.ttf);
}

@keyframes body {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }

body{
    background-image: linear-gradient(
        to bottom right,
        #ffbdb2,#1fffe1
    );
    /* animation: body 6s infinite ease-in-out;  */
    display: flex;
    background-size: 200% 210%;
    justify-content: center;
    flex-wrap: wrap;
}

main{
    margin-top: 200px;
    padding: 20px;

    background-color: lightyellow;
    border-radius: 30px;
    border: 2px solid #BFBFBF; 

    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;
    align-content: space-around;

    box-shadow: 20px 20px 10px #aaaaaa;   
}

main #nav_id{
    /* border: 5px double darkgoldenrod; */
    width: 100%;
    text-align: center;
}

main #main_id{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    /* border: 5px solid saddlebrown; */
} 

main #footer_id{
    width: 100%;
    /* border: 5px solid salmon; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center; 
    justify-content: space-around;
}

main #nav_id h1{
    font-family: Rubik_MoonRocks;
    font-weight: lighter;
    color: lightcoral;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px #000000;
    letter-spacing: 2px;
    
}

main #nav_id p{
    font-family: IBMP_SemiBlod;
    color: lavenderblush;
    text-shadow: 2px 2px 8px #FF0000;
}

main #footer_id a img{
    width: 100%;
    height: 70px;
}

a:hover{
    position: relative;
    top: -3px;
    left: 7px;
}